<h1><%= title %></h1>
<%- messages() %>

<form action="/inv/add-inventory" method="post" id="addInventoryForm">
    <fieldset>
        <label for="classification_id">Select the Classification: </label>
        <select name="classification_id" id="classificationID" title="Classification" required>
            <option value="">-- Select a Classification --</option>
            <% classificationList.forEach(item => { %>
                <option value="<%= item.classification_id %>" <%= inventory?.classification_id == item.classification_id ? "selected" : "" %>>
                    <%= item.classification_name %>
                </option>
            <% }) %>
        </select>
    </fieldset>
    <fieldset>
        <label for="inv_make"></label>
        <input type="text" name="inv_make" id="invMake" title="Make" required value="<%= locals.inv_make %>">
    </fieldset>
    <fieldset>
        <label for="inv_model"></label>
        <input type="text" name="inv_model" title="Car Model" id="invModel" required value="<%= locals.inv_model %>">
    </fieldset>
    <fieldset>
        <label for="inv_year"></label>
        <input type="text" name="inv_year" title="Car Year" id="invYear" required value="<%= locals.inv_year %>">
    </fieldset>
    <fieldset>
        <label for="inv_description"></label>
        <textarea name="inv_description" title="Car Description" id="invDescription" required value="<%= locals.inv_description %>"></textarea>
    </fieldset>
    <fieldset>
        <label for="inv_image"></label>
        <input type="text" name="inv_image" title="Car Image Path" id="invImage" required value="<%= locals.inv_image %>">
    </fieldset>
    <fieldset>
        <label for="inv_price"></label>
        <input type="text" name="inv_price" title="Car Price" id="invPrice" required value="<%= locals.inv_price %>">
    </fieldset>
    <fieldset>
        <label for="inv_miles"></label>
        <input type="text" name="inv_miles" title="Car Milage" id="invMiles" required value="<%= locals.inv_miles %>">
    </fieldset>
    <fieldset>
        <label for="inv_color"></label>
        <input type="text" name="inv_color" title="Car Color" id="invColor" required value="<%= locals.inv_color %>">
    </fieldset>

    <input type="submit" value="Add Vehicle" name="Add Vehicle">

</form>