<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
 </ul>
<% } %>

<form action="/inv/add-inventory" method="post" class="formStyle">
    <fieldset>
        <div class="instructions">
            <label for="classification_id">Select the Classification: </label>
            <%- classificationList %>
        </div>
    </fieldset>
    <fieldset>
        <label for="inv_make">Make: </label>
        <input type="text" name="inv_make" id="invMake" title="Make" required value="<%= inventory.inv_make %>">
    </fieldset>
    <fieldset>
        <label for="inv_model">Model: </label>
        <input type="text" name="inv_model" title="Car Model" id="invModel" required value="<%= inventory.inv_model %>">
    </fieldset>
    <fieldset>
        <label for="inv_year">Year: </label>
        <input type="text" name="inv_year" title="Car Year" id="invYear" required value="<%= inventory.inv_year %>">
    </fieldset>
    <fieldset>
        <div class="instructions">
            <label for="inv_description">Description: </label>
            <textarea name="inv_description" title="Car Description" id="invDescription" required value="<%= inventory.inv_description %>"></textarea>
        </div>
    </fieldset>
    <fieldset>
        <label for="inv_image">Image Path:</label>
        <input type="text" name="inv_image" title="Car Image Path" id="invImage" required value="<%= inventory.inv_image %>">
    </fieldset>
    <fieldset>
        <label for="inv_thumbnail">Image Thumbnail Path:</label>
        <input type="text" name="inv_thumbnail" title="Car Image Thumbnail Path" id="invThumbnail" required value="<%= inventory.inv_image %>">
    </fieldset>
    <fieldset>
        <label for="inv_price">Price: </label>
        <input type="text" name="inv_price" title="Car Price" id="invPrice" required value="<%= inventory.inv_price %>">
    </fieldset>
    <fieldset>
        <label for="inv_miles">Miles: </label>
        <input type="text" name="inv_miles" title="Car Miles" id="invMiles" required value="<%= inventory.inv_miles %>">
    </fieldset>
    <fieldset>
        <label for="inv_color">Color: </label>
        <input type="text" name="inv_color" title="Car Color" id="invColor" required value="<%= inventory.inv_color %>">
    </fieldset>

    <input type="submit" value="Add Vehicle" name="Add Vehicle">

</form>